// src/scss/_fonts.scss

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakesRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakesMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakesBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
