$color-standard: #ffffff;
$color-background: #f8f8f8;
$color-content: #ff3e79;
$color-light: #7e7e82;
$color-dark: #1b1c21;
$color-border: #41f6d7;
$color-content-hover: #ff6493;
$color-gray: #eaeaea;
