$font-family: "Old Standard TT", serif;
$primary-color: #1B1C21;
$hover-color: #7E7E82;
$highlight-color: #41F6D7;

.old-standard-tt-regular {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
}

.ipad-version {
  display: none;
}

.chat {
  display: none;
}

.sidebar-modal {
  display: none;
}
.order-call {
 display: none;
}

.image-slider__remont {
  display: none;
}

.wrapper {
  display: none;
}

.header-mobile {
  display: none;
}

.title-remont {
  display: none;
}

.service-title {
  display: none;
}

.service-card {
  display: none;
}

.order-text__mobile {
  display: none;
}

.order-text_dark__mobile {
  display: none;
}

.footer-banner__mobile {
  display: none;
}

.mobile-title {
  display: none;
}

.categories {
  display: none;
}

.ipad-title {
  display: none;
}

.grid-container-ipad {
  display: none;
}

.content-mobile {
  display: none;
}

.content-title__ipad {
  display: none;
}

.all-content__Ipad {
  display: none;
}

.read-more__ipad {
  display: none;
}

.navigation {
  display: none;
}

.content-ipad {
  display: none;
}

.footer-banner__ipad {
  display: none;
}

.order-ipad {
  display: none;
}

.footer-banner__ipad {
  display: none;
}

html {
  overflow-x: hidden;
  width: 100%;
}


body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

.container-header {
  display: flex;
  justify-content: space-between;

}


.container-title {
  font-size: 24px;
  color: $primary-color;
}

.content {
  //  flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    flex-grow: 1;
    overflow-x: hidden;
}

.gic {
  height: 1px;
  background-color: $highlight-color;
  margin-left: -20px;
}


.sidebar {
    flex: 0 0 250px;
    background-color: white;
    box-shadow: 0px 0 0px rgba(145, 142, 142, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 750px;
}

.sidebar__header {
    padding: 20px;
}

.sidebar__icons {
    display: flex;
    justify-content: space-between;
}

.sidebar__menu {
    padding-left: 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    position: relative;
    margin-bottom: 18px; 
    
    a {
        text-decoration: none;
        font-size: 18px; 
        color: $primary-color;
        font-family: $font-family;
        transition: color 0.3s ease;
    }

    &:hover a {
        color: $hover-color;
    }

    &::before {
        content: "";
        position: absolute;
        left: -18px;
        top: 50%;
        transform: translateY(-50%) scaleY(0);
        width: 3px;
        height: 22px;
        background-color: $highlight-color;
        transition: transform 0.3s ease;
    }

    &:hover::before {
        transform: translateY(-50%) scaleY(1);
    }
}

.sidebar__footer {
    margin-top: auto;
    padding: 20px;
}

.footer__icons {
    display: flex;
    gap: 20px;
}

.footer__contact {
    font-family: $font-family;
    color: $primary-color;
}

.footer__email {
    font-size: 16px;
}

.footer__phone {
    font-size: 24px;
    font-weight: bold;
}

.footer__languages {
    display: flex;
    gap: 15px;

    a {
        font-family: $font-family;
        font-size: 16px;
        color: $primary-color;
        text-decoration: none;
        
        &:hover {
            color: $hover-color;
        }
    }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gic-content {
    width: 3px;
    height: 40px;
    background-color: $highlight-color;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

  
  .header-left {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
.header-title {
  font-size: 20px;
  color: $primary-color;
}

.actions {
  display: flex;
  gap: 15px;
}

.button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $primary-color;
  font-size: 16px;
 gap: 5px;
}

.button img {
  width: 40px;
  height: 40px;
}

  
  

.nav {
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: $primary-color;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

.nav-item:hover {
    background-color: white;
    border-color: $highlight-color;

  }

.nav-item1 {
    width: 233px;
    height: 40px;
}

.nav-item2 {
    width: 215px;
    height: 40px;
}

.nav-item3 {
    width: 152px;
    height: 40px;
}

.nav-item4 {
    width: 233px;
    height: 40px;
}

.nav-item5 {
    width: 191px;
    height: 40px;
}


.nav-item6 {
    width: 95px;
    height: 40px;
}



.about {
    flex-grow: 1; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
  
    .about-content {
      max-width: 50%;
      color: $hover-color;
      font-size: 16px;
      line-height: 1.5;
  
      p {
        margin-bottom: 10px;
      }
  
      .read-more {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $primary-color;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s;
      }
    }
  
    .about-image {
      max-width: 50%;
  
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
  }
//slider

.slider-title {
  background-color: white;
}

h3 {
  color: $hover-color;
  margin-left: 20px;

}


.slider-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 1200px;
  }
  
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hidden {
    display: none;
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
    cursor: pointer;
    font-size: 16px;
  }

  .button-container img {
    margin-right: 5px;
    transition: transform 0.3s;

  }

  .rotated {
    transform: rotate(180deg);
  }

.toggle-texts {
    width: 100%;
}

.slider-remont {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f5f5f5;
}

.grid-remont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1200px;
}

.grid-remont_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remont-hidden {
  display: none;
}

.remont-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
 
  cursor: pointer;
  font-size: 16px;
}

.remont-container img {
  margin-right: 5px;
  transition: transform 0.3s;

}

.rotated {
  transform: rotate(180deg);
}

.remont-texts {
  width: 100%;
}

.remont-title {
  background-color: white;
}

.remont-title_text {
  margin-left: 20px;
  color: $hover-color;
}

//order

.coust {
  display: flex;

}

.coust-item {
  font-size: 14px;
  color: $hover-color;
  margin-left: 20px;
}
.coust-item:nth-child(2) {
  margin-left: 280px;
}

.coust-item:nth-child(3) {
  margin-left: 160px;
}


.order {
  flex-grow: 1;
  background: #f5f5f5;
  padding: 20px;
}
.order-title {
  background: white;
  padding: 15px;
  font-size: 16px;
  color: $hover-color;

}
.order-services {
  background: white;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  font-size: 13px;
}
.order-service {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: 400px 200px 150px 120px;
  align-items: center;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.order-service span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-btn {

  padding: 8px 12px;
  background: #ff4d6d;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
}

.order-text {
  width: 421px;
  font-size: 12px;
  color: #1B1C21;
  margin-left: 20px;
}

.order-text_dark {
  width: 292px;
  font-size: 14px;
  color: #1B1C21;
}

.footer-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-banner_text {
  font-size: 14px;
  color: $hover-color;
  margin-left: 20px;
  margin-top: 40px;
}

.footer-banner_text1 {
  width: 218px;
  height: 32px;
}

.footer-banner_text2 {
  width: 214px;
  height: 16px;
}

.footer-banner_text3 {
  width: 330px;
  height: 32px;
}

@media screen and (max-width:1260px) {
    .sidebar {
        display: none;
    }
}


@media screen and (max-width:1120px) {
  .container {
    display: none;
  }



.all-content__Ipad {
  display: block;
  background-color: #f5f5f5;
}

  .ipad-version{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid $highlight-color;
  }
  
  .logo {
      display: flex;
      font-size: 24px;
      font-weight: bold;
  }
  
  .gic-ipad__header {
      width: 3px;
      height: 45px;
      background-color: #f5f5f5;
  }

  .gic-ipad__header2 {
    width: 3px;
      height: 45px;
      background-color: #f5f5f5;
  }

  .icons-ipad1 {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  
  .icons-ipad {
      display: flex;
      gap: 40px;
      align-items: center;
      
      a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          background-color: #f6f6f6;
          border-radius: 50%;
          text-decoration: none;
          color: #333;
          font-size: 18px;
      }
  }
  
.gic-ipad {
  width: 3px;
  height: 40px;
  background-color: $highlight-color;
}

.ipad-title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $primary-color;
  margin-left: 20px;
 padding-top: 20px;
}

.services-title__ipad {
   font-size: 24px;
   color: $primary-color;
   font-weight: bold;
}

  .navigation {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; 
    white-space: nowrap;
   gap: 20px;
    margin-top: 30px;

    margin-left: 20px;
}

.navigation a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: $hover-color;
    font-family: "Old Standard TT", serif;
    font-weight: bold;
    border: 2px solid transparent; 
    border-radius: 8px;
    transition: all 0.3s ease;
    padding: 8px 12px;

}

.navigation a:hover {
    border: 2px solid $highlight-color;
    border-radius: 8px; 
}

.content-ipad {
  display: flex;
  justify-content: space-between;
}

.content-ipad__text {
  margin-left: 20px;
  padding-top: 20px;
  font-size: 14px;
  color: $primary-color;
  width: 312px;
  
}

.content-ipad__section {
  display: flex;
  align-items: center; 
  gap: 20px; 
  flex-wrap: wrap; 
}
.content-ipad__section img {
  width: 380px;
  height: 208px;
  padding-top: 20px;
  margin-right: 20px;
}

.read-more__ipad {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $primary-color;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 20px;
}

.gic__ipad {
  width: 100%;
  height: 1px;
  background-color: $highlight-color;
  margin-top: 20px;
}

.content-title__ipad {
  display: block;
  font-family: "Old Standard TT", serif;
  font-size: 16px;
  color: #7E7E82;
  margin-left: 20px;
  padding: 1px 0;  
  background-color: white;

  
}

.grid-container-ipad {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
max-width: 700px;
margin-left: 20px;
padding-top: 20px;
background-color: rgb(247, 247, 247);
}

.button-container {
  display: none;
}



.button-container-ipad {
display: flex;
align-items: center;
justify-content: flex-start;

margin-left:5px;
cursor: pointer;
font-size: 16px;
padding: 10px;
}

.button-container-ipad img {
margin-right: 5px;
transition: transform 0.3s;

}

.hidden-ipad {
  display: none;
}

.rotated {
transform: rotate(180deg);
}

.slider-remont__ipad {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f5f5f5;
}

.grid-remont__ipad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 1200px;
}

.grid-remont_item__ipad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remont-hidden__ipad {
  display: none;
}

.remont-container__ipad {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  padding-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.remont-container__ipad img {
  margin-right: 5px;
  transition: transform 0.3s;

}

.rotated {
  transform: rotate(180deg);
}

.remont-texts__ipad {
  width: 100%;
}

.remont-title__ipad {
  background-color: white;
}

.remont-title__ipad {

  display: block;
  font-family: "Old Standard TT", serif;
  font-size: 16px;
  color: #7E7E82;
  margin-left: 20px;
  padding: 1px 0;  
  background-color: white;
  color: $hover-color;
}

.coust-ipad {
  display: flex;

}

.coust-item__ipad {
  font-size: 14px;
  color: $hover-color;
  margin-left: 20px;
}
.coust-item__ipad:nth-child(2) {
  margin-left: 280px;
}

.coust-item__ipad:nth-child(3) {
  margin-left: 160px;
}

.order-title__ipad {
   font-size: 14px;
   color: $hover-color;
}

.order-ipad {
  display: block;
  flex-grow: 1;
  background: #f5f5f5;
  padding: 20px;
}
.order-title__ipad {
  background: white;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;

}
.order-services__ipad {
  background: white;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  font-size: 13px;
}
.order-service__ipad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: 380px 100px 130px 110px;
  align-items: center;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 750px;
}

.order-service__ipad span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-btn__ipad {

  padding: 8px 12px;
  background: #ff4d6d;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
}

.order-text__ipad {
  width: 421px;
  font-size: 12px;
  color: #1B1C21;
  margin-left: 20px;
}

.order-text_dark__ipad {
  width: 292px;
  font-size: 14px;
  color: #1B1C21;
}

.footer-banner__ipad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-banner_text__ipad {
  font-size: 12px;
  color: $hover-color;
  margin-left: 20px;
  margin-top: 40px;
}

.footer-banner_text1__ipad {
  width: 214px;
  height: 32px;
}

.footer-banner_text2__ipad {
  width: 180px;
  height: 16px;
}

.footer-banner_text3__ipad {
  width: 330px;
  height: 32px;
}

//sidebar

.sidebar-modal {
  flex: 0 0 350px;
  background-color: white;
  box-shadow: 0px 0 0px rgba(145, 142, 142, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 750px;
  position: fixed;
  left: -100%; 
  top: 0;
  width: 250px;
  height: 100vh;
  background: white;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar-modal--active {
  left: 0; 
}

.sidebar__header-modal {
  padding: 20px;
}

.sidebar__icons-modal {
  display: flex;
  justify-content: space-between;
}

.sidebar__menu-modal {
  padding-left: 20px;
}

.menu-modal {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item-modal {
  position: relative;
  margin-bottom: 18px; 
  
  a {
      text-decoration: none;
      font-size: 18px; 
      color: $primary-color;
      font-family: $font-family;
      transition: color 0.3s ease;
  }

  &:hover a {
      color: $hover-color;
  }

  &::before {
      content: "";
      position: absolute;
      left: -18px;
      top: 50%;
      transform: translateY(-50%) scaleY(0);
      width: 3px;
      height: 22px;
      background-color: $highlight-color;
      transition: transform 0.3s ease;
  }

  &:hover::before {
      transform: translateY(-50%) scaleY(1);
  }
}

.sidebar__footer-modal {
  margin-top: auto;
  padding: 20px;
}

.footer__icons-modal {
  display: flex;
  gap: 20px;
}

.footer__contact-modal {
  font-family: $font-family;
  color: $primary-color;
}

.footer__email-modal {
  font-size: 16px;
}

.footer__phone-modal {
  font-size: 24px;
  font-weight: bold;
}

.footer__languages-modal {
  display: flex;
  gap: 15px;

  a {
      font-family: $font-family;
      font-size: 16px;
      color: $primary-color;
      text-decoration: none;
      
      &:hover {
          color: $hover-color;
      }
  }
}


.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 999; 
}


.sidebar-modal--active {
  ~ .overlay-modal {
    opacity: 1;
    visibility: visible;
  }
}

// order
.order-call {
  position: fixed;
  left: -100%; 
  top: 0;
  width: 400px; 

  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.order-call.order-call--active {
  left: 0;
}

.order-call-head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.order-call-head img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}


input[type="tel"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}

.order-call__text {
  font-size: 12px;
  color: #1B1C21;
}

.order-call__text .highlight {
  color: #ff2f69; 

}


.order-call__send {
  width: 150px;
  padding: 12px;
  background: #ff2f69; 
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  margin: 20px auto 0; 
  display: block; 
}

.order-call__send:hover {
  background: #e0275c;
}



.order-gic-wrapper {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.05);
}

.order-gic {
  width: 3px;
  height: 40px;
  background-color: #00bfff; 
  margin-left: 5px;
}

.order-call__title {
  font-size: 24px;
  color: #1B1C21;
}

// chat

.chat {
  position: fixed;
  left: -100%; 
  top: 0;
  width: 400px; 
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.chat-gic {
  width: 3px;
  height: 40px;
  background-color: $highlight-color; 
  margin-left: 5px;
}


.chat__title {
  font-size: 24px;
  color: #1B1C21;
}

.chat.chat--active {
  left: 0;
}

.chat-head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.chat-head img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}


input[type="text"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}

input[type="tel"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}

input[type="email"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}



.chat-text {
  font-size: 12px;
  color: #1B1C21;
}

.chat-text .highlight {
  color: #ff2f69; 

}


.chat-send {
  width: 150px;
  padding: 12px;
  background: #ff2f69; 
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  margin: 20px auto 0; 
  display: block; 
}

.chat-send:hover {
  background: #e0275c;
}







}
// phone version

@media screen and (max-width:826px) {
  .ipad-version {
    display: none;
  }
  
  .ipad-title {
    display: none;
  }
  
  .grid-container-ipad {
    display: none;
  }
  
  .content-title__ipad {
    display: none;
  }


  
  .all-content__Ipad {
    display: none;
  }
  
  .read-more__ipad {
    display: none;
  }
  
  .navigation {
    display: none;
  }
  
  .content-ipad {
    display: none;
  }
  
  .footer-banner__ipad {
    display: none;
  }
  
  .order-ipad {
    display: none;
  }
  
  .footer-banner__ipad {
    display: none;
  }
  .container {
    display: none;
  }

  .button-container-ipad {
    display: none;
  }
  .remont-title_text {
    display: none;
  }

.remont-title {
  display: block;
}

.title-remont {
  display: block;
}

.image-slider__remont {
  display: block;
}

.service-card {
  display: block;
}

  .header-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--fived-color);
  }
  
  .icons-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .icons-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .icons-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px; 
  }
  
  .gic-mobile__header {
    width: 3px;
    height: 45px;
    background-color: #EAEAEA;
    margin-right: 50px;
  }
  


    .logo-mobile {
        display: flex;
     
    }

    .mobile-title {
        display: flex;
      
    }
    
    .gic-mobile {
        width: 3px;
        height: 40px;
        margin-top: 15px;
        background-color: $highlight-color;
    }
    
        .services-title__mobile{
            display: block;
            padding-left: 10px;
            padding-top: 20px;    
                font-size: 24px;
                font-weight: bold;
                color:var(--main-color);
                font-family: "Old Standard TT", serif;
        }

        .categories {
          display: flex;
          overflow-x: auto;
          scrollbar-width: none; 
          white-space: nowrap;
         gap: 20px;
          margin-left: 20px;
      }
      
      .categories a {
          display: inline-block;
          padding: 10px 20px;
          text-decoration: none;
          color: $hover-color;
          font-family: "Old Standard TT", serif;
          font-weight: bold;
          border: 2px solid transparent; 
          border-radius: 8px;
          transition: all 0.3s ease;
          padding: 8px 12px;
      
      }
      
      .categories-item a:hover {
          border: 2px solid $highlight-color;
          border-radius: 8px; 
      }

      .content-mobile {
       display: block;
      }
      
      .content-mobile__text {
        margin-left: 20px;
        padding-top: 20px;
        font-size: 14px;
        color: $primary-color;

        
      }
      
   
      .content-mobile__section img {
        width: 380px;
        height: 208px;
        padding-top: 20px;
        margin-left: 20px;
      }
      
      .read-more__mobile {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $primary-color;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s;
        margin-left: 20px;
      }
      
  
      
      .mobile_gic {
        width: 100%;
        height: 1px;
        background-color: $highlight-color;
      }
      
   
    .wrapper {
      display: block;
    }

    .title {
      font-family: "Old Standard TT", serif;
      font-size: 16px;
      color: #7E7E82;
      margin-left: 0px;
      padding-left: 30px;
      margin-top:0;
      padding-top: 10px;
      background-color: white;
      height: 40px;
    }
    
    .image-slider {
      padding: 0px 0px 70px 0px;
      min-width: 0;
    }
    
    .image-slider__wrapper {
    
      margin-left: 10px;
    }
    
 
    
    .image-slider {
      width: 100%;
      overflow: hidden;
      position: relative;
      padding-bottom: 30px;
    }
    
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 100%;
       width: 100%;
       max-width: 1056px;
    }
    
    .image-slider__image img {
      max-width: 100%;
      height: auto;
    }
    
    .swiper-slide {
      width: 250px !important;
      padding-left: 20px;
    }
    
    .swiper-pagination {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
  }
  .image-slider__remont {
    position: relative;
    padding-bottom: 30px; 
  }
  
.title-remont {
  font-family: "Old Standard TT",serif;
  font-size: 16px;
  color: #7E7E82;
  padding-left: 30px;
  padding-top: 10px;
  margin-left: 0;
  margin-top: 0;
  height: 40px;
  background-color: #fff;
}
  
    
    .image-slider .swiper-pagination-bullet {
      background: #ccc;
      opacity: 0.7;
    }
    .image-slider .swiper-pagination-bullet :active {
      width: 12px;
      height: 12px;
      line-height: 20px;
      font-size: 14px;
      background-color:#7E7E82;
    }

    .image-slider__remont .swiper-pagination-bullet :active {
      width: 12px;
      height: 12px;
      line-height: 20px;
      font-size: 14px;
      background-color: #7E7E82;
    }


    .swiper {
      width: 100%;
    }
    
    .swiper-slide {
      display: flex;
      justify-content:start;
    }
    
    .service-card {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      width: 100%;
      max-width: 320px;
    }
    
    .service-title {
      font-size: 16px;
      font-weight: bold;
      color: #999;
    }
    
    .service-description {
      font-size: 14px;
      color: #333;
      margin: 10px 0;
    }
    
    .service-label {
      font-size: 12px;
      color: #888;
      margin-top: 8px;
    }
    
    .service-price {
      font-size: 14px;
      font-weight: bold;
      color: #000;
    }
    
    .service-duration {
      font-size: 14px;
      font-weight: bold;
      color: #000;
    }
    
    .service-button {
      background: #ff4081;
      color: white;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      font-size: 14px;
      cursor: pointer;
      margin-top: 15px;
      transition: 0.3s;
    }
    
    .service-button:hover {
      background: #e91e63;
    }
    
.swiper-pagination {
   position: relative;
   bottom: 20px;
}


    .swiper-pagination-bullet {
      background: #ccc;
      opacity: 0.7;

    }
    
    .swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
      line-height: 20px;
      font-size: 14px;
      background-color: #7E7E82;
    }
    

    .order-text__mobile {
      display: block;
      width: 421px;
      font-size: 12px;
      color: #1B1C21;
      margin-left: 20px;
      text-align: center;
    }
    
    .order-text_dark__mobile {
      display: block;
      width: 292px;
      font-size: 12px;
      color: #1B1C21;
      text-align: center;
    }
    
    .footer-banner__mobile {
      display: block;
     text-align: center;
    }
    
    .footer-banner_text__mobile {
      font-size: 12px;
      color: $hover-color;
      margin-left: 20px;
      margin-top: 40px;
    }
    
  
    
}


