$font-family:"Montserrat', sans-serif";
$primary-color: #1B1C21;
$hover-color: #7E7E82;
$highlight-color: #41F6D7;


html {
  overflow-x: hidden;
  width: 100%;
}


body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    background: linear-gradient(to right, #FFFFFF 20%, #F5F5F5 21%);
      font-family: 'Montserrat', sans-serif;
      font-weight: 400; 
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 1%;
    margin-left: 19.5%;
  }

  .fa-bars {
    color: #1B1C21;
    font-size: 28px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 25px;
    border-left: 3px solid $highlight-color;


  }
  

.menu-icon i {
    font-size: 24px;
    cursor: pointer;
}

.action-btn {
  display: flex;
  align-items: center; 
  justify-content: center;
  background: none; 
  border: none; 
  cursor: pointer; 
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  gap: 8px; 
  padding: 10px 15px;
}

.action-btn i {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
   color:#1B1C21;
}

.action-btn img {
  width: 40px; 
  height: 40px;
}

.top-actions {
    display: flex;
    gap: 10px;
}

.action-btn {

    cursor: pointer;
}

//sidebar

.sidebar {
  position: fixed;
  top: 15px; 
  left: 0; 
  width: 250px;
  height: calc(100vh - 15px);
  transition: left 0.3s ease-in-out;
  padding-left: 20px;
  padding-top: 4px;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.sidebar.active {
  left: 0;
}

.menu-icon__sidebar {
  display: flex;
  gap: 30%;
  width: 200px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: $hover-color;
  padding-left: 5px;
  border-left: 3px solid $highlight-color;
}


.icons {
  display: flex;
  width: 150px;
}

.icon {
  width: 40px;
  height: 40px;
}

.fa-profile {
 margin-left: 30px;
  
}

.fas {
font-size: 16px;
font-family: 'Montserrat', sans-serif;
color: #1B1C21;
}

.phone {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;;
  color: #1B1C21;
}

.languages {
  display: flex;
  gap: 10px;
  font-size:16px;
  font-family: 'Montserrat', sans-serif;
  color: #1B1C21;
  cursor: pointer;
}

.languages p:hover {
  color: #7E7E82;
  cursor: pointer;
}

// display none

.navigation-ipad-phone  {
  display: none;
}

.title {
  display: none;
}

.wrapper {
  display: none;
}

.order-call {
  display: none;
}

.contact-popup {
  display: none;
}

.image-slider__title {
  display: none;
}

.phone-popup {
  display: none;
}

#closeSidebar {
  display: none;
}

.image-slider__remont {
  display: none;
}

.services-slider__title {
  display: none;
}

.services-slider {
  display: none;
}

.icons-ipad {
  display: none;
}

.icons-ipad1 {
  display: none;
}

.navigation-Desktop{
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
margin-left: 23%;
margin-top: 1%;
}

.nav-item {
  text-decoration: none;
  color: $primary-color;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  width: 233px;
  height: 40px;
  font-size: $font-family;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #7E7E82;
}

.nav-item:hover {
    background-color: white;
    border-color: $highlight-color;

  }

.about {
  display: flex;
  gap: 4%;
  margin-left: 23%;
}

.about-content {
  width: 490px;
  font-size: 16px;
  color: #1B1C21;
  font-family: 'Montserrat', sans-serif;
}

.about-image img {
  width:100%;

  border-radius: 8px;
  margin-top: 3%;
}

.hidden {
  display: none;
}

.read-more {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.read-more.active .button-icon {
  transform: rotate(180deg);
}

.slider {
  margin-top: 3%;
  margin-left: 23%;
}

.slider h3 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #7E7E82;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1200px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-slider {
  display: none;
}

.show-more {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.show-more__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.show-more.active .show-more__icon {
  transform: rotate(180deg);
}

.slider-notes {
  margin-top: 3%;
  margin-left: 23%;
}

.slider-notes h3 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #7E7E82;
}

.slider-note {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1200px;
}

.slider-note__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-note__hidden {
  display: none;
}

.show-more-note {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.show-more-note_icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.show-more-note.active .show-more-note_icon {
  transform: rotate(180deg);
}

.order {
  width: 76%;
  flex-grow: 1;
  background: #f5f5f5;
  margin-top: 3%;
  margin-left: 23%;
}

.order h3 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #7E7E82; 
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  padding: 20px;
  border-radius: 8px;
  font-size: 13px;
}

.order-table th,
.order-table td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.order-table td {
  font-family: 'Montserrat', sans-serif;
  color: #1B1C21;
  font-size: 14px;
}

.order-table th {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #7E7E82;
  font-size: 14px;
}

.order-table tr:last-child td {
  border-bottom: none; 
}

.order-btn {
  padding: 8px 12px;
  background: #ff4d6d;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
}

.order-btn:hover {
  background: #e03e5d;
}

.end-text {
  margin-left: 23%;
  margin-top: 3%;
  width: 421px;
  font-size: 12px;
  color: #1B1C21;
  text-align: center;
}

.end-text__dark {
  margin-left: 23%;
  margin-top: 3%;
  width: 292px;
  font-size: 14px;
  color: #1B1C21;
  text-align: center;
}


.text-end__box {
  margin-left: 23%;
  margin-top: 3%;
  display: flex;

}

.text-end {
  width: 300px;
  height: 50px;
  font-size: 14px;
  color: $hover-color;
  margin-left: 20px;
  margin-top: 40px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); 
  background-color: #fff;
  z-index: 999;
}


.overlay.active {
  display: block;
}

.order-call {
  position: fixed;
  right: -100%; 
  top: 0;
  width: 350px;
  height: 100%;
  background: white;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
}

.order-call.active {
  right: 0;
  visibility: visible;
}

.order-call__text {
  font-size: 12px;
  color: #1B1C21;
}

.order-call__text .highlight {
  color: #ff2f69; 

}

.phone-height {
  height: 400px;
}

.order-call__title {
  position: absolute;
  left: 20px;
  top: 60px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #1B1C21;
  border-left: 2px solid $highlight-color;
  padding-left: 10px;
}

.order-call-head {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
}


.call-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding-bottom: 50px;
}

input[type="tel"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}


.order-call__send {
  width: 136px;
  height: 40px;
  padding: 12px;
  background: #ff2f69; 
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  margin: 20px auto 0; 
  display: block; 
}

.order-call__send:hover {
  background: #e0275c;
}


//chat


.overlay-chat {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  backdrop-filter: blur(5px); 
  
}

.overlay-chat.active {
  display: block; 
}


.contact-popup {
  position: fixed;
  right: -100%;
  top: 0;
  width: 350px;
  height: 100%;
  background: white;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
}

.contact-popup.active {
  right: 0; 
  visibility: visible;
}


.contact-popup__text {
  font-size: 12px;
  color: #1B1C21;
}


.chat__title {
  font-size: 24px;
  color: #1B1C21;
}


.chat-head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.chat-head img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#message {
  height: 118px;
  width: 310px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="text"] {
  padding: 12px;
  width: 300px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}

input[type="tel"] {
  padding: 12px;
  width: 300px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}

input[type="email"] {
  padding: 12px;
  width: 300px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.chat-close-overlay {
  display: none;
}

.chat-text {
  font-size: 12px;
  color: #1B1C21;
}

.chat-text .highlight {
  color: #ff2f69; 

}


.chat-send {
  width: 136px;
  height: 40px;
  padding: 12px;
  background: #ff2f69; 
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  margin: 20px auto 0; 
  display: block; 
}

.chat-send:hover {
  background: #e0275c;
}

@media screen and (max-width:1120px) {

  .navigation-Desktop {
    display: none;
  }

.menu-icon {
  display: none;
}

.top-actions {
  display: none;
}

.repair-img-phone {
  display: none;
}

.checkstatus-img-phone {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); 
}

.sidebar.active {
  transform: translateX(0); 
}

.menu-icon__sidebar {
margin-top: 20px;
}

#closeSidebar {
  display: flex;
  cursor: pointer;

  width: 40px;
  height: 40px;
  order: -1;
}

#mainContent {
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.blur {
  filter: blur(8px);
  opacity: 0.5;
  pointer-events: none; 
}

// call window


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); 
  background-color: #fff;
  z-index: 999;
}


.overlay.active {
  display: block;
}

.order-call {
  position: fixed;
  right: -100%; 
  top: 0;
  width: 350px;
  height: 100%;
  background: white;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
}

.order-call.active {
  right: 0;
  visibility: visible;
}

.order-call__text {
  font-size: 12px;
  color: #1B1C21;
}

.order-call__text .highlight {
  color: #ff2f69; 

}

.phone-height {
  height: 400px;
}

.order-call__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #1B1C21;
  border-left: 2px solid $highlight-color;
  padding-left: 10px;
  margin-left: 2px;
}

.order-call-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


.call-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: -300px;
}

input[type="tel"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}


.order-call__send {
  width: 136px;
  height: 40px;
  padding: 12px;
  background: #ff2f69; 
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  margin: 20px auto 0; 
  display: block; 
}

.order-call__send:hover {
  background: #e0275c;
}

//chat


.overlay-chat {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  backdrop-filter: blur(5px); 
  
}

.overlay-chat.active {
  display: block; 
}


.contact-popup {
  position: fixed;
  right: -100%;
  top: 0;
  width: 350px;
  height: 100%;
  background: white;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
}

.contact-popup.active {
  right: 0; 
  visibility: visible;
}


.contact-popup__text {
  font-size: 12px;
  color: #1B1C21;
}


.chat__title {
  font-size: 24px;
  color: #1B1C21;
}


.chat-head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.chat-head img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}


input[type="text"] {
  padding: 12px;
  width: 300px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}

input[type="tel"] {
  padding: 12px;
  width: 300px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}

input[type="email"] {
  padding: 12px;
  width: 300px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

#message {
  font-size: 16px;
}

.chat-close-overlay {
  display: none;
}

.chat-text {
  font-size: 12px;
  color: #1B1C21;
}

.chat-text .highlight {
  color: #ff2f69; 

}


.chat-send {
  width: 136px;
  height: 40px;
  padding: 12px;
  background: #ff2f69; 
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  margin: 20px auto 0; 
  display: block; 
}

.chat-send:hover {
  background: #e0275c;
}

  body {
    background: linear-gradient(to bottom, #FFFFFF 4%, #F5F5F5 5%);
  }

  .top-bar {
    margin-left: 3%;
  }

  .icons-ipad1 {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  
.group-img {
  border-left: 2px solid #EAEAEA;
  padding-left: 10px;
}

.repair-img {
  border-left: 2px solid #EAEAEA;
  padding-left: 10px;
}

  .icons-ipad {
      display: flex;
      gap: 40px;
      align-items: center;
      
      a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          background-color: #f6f6f6;
          border-radius: 50%;
          text-decoration: none;
          color: #333;
          font-size: 18px;
      }
  }
  .title {
    display: block;
    color: #1B1C21;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 3%;
    border-left: 3px solid $highlight-color;
  }

  .navigation-ipad-phone{
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; 
    white-space: nowrap;
    gap: 20px;
    margin-left: 3%;


   }
   
   .navigation-ipad-phone-item {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: $hover-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: 2px solid transparent; 
    border-radius: 8px;
    transition: all 0.3s ease;
    padding: 8px 12px;
   }
   
   .navigation-ipad-phone-item:hover {
       background-color: white;
       border-color: $highlight-color;
   
     }

     .about {
      display: flex;
      justify-content: space-between;
      margin-left: 3%;
    }
    
.text-hidden {
  display: none;
}

    .about-content {
      width: 312px;
      font-size: 16px;
      color: #1B1C21;
      font-family: 'Montserrat', sans-serif;
    }
    
    .about-image img {
      width: 100%;

      border-radius: 8px;
    }

  .slider {
  margin-left: 3%;
  }

      .grid-container {
        grid-template-columns: repeat(3, 1fr); 

      }
    
      .grid-item:nth-child(7),
      .grid-item:nth-child(8) {
        display: none; 
      }
    
      .hidden-slider {
        display: none;
      }
    
      .show-more.active .show-more__icon {
        transform: rotate(180deg);
      }
      
      .slider-notes {
        margin-top: 3%;
        margin-left: 3%;
      }
      
      .slider-notes h3 {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        color: #7E7E82;
      }
      
      .slider-note {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

      }
      
      .slider-note__item {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .slider-note__item:nth-child(4) {
        display: none;
      }
      
      .slider-note__hidden {
        display: none;
      }
      
      .show-more-note {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-top: 15px;
      }
      
      .show-more-note_icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        transition: transform 0.3s ease;
      }
      
      .show-more-note.active .show-more-note_icon {
        transform: rotate(180deg);
      }
      
      
      .order {
        width: 91%;
        margin-left:3%;
      }
      
      .end-text {
        margin-left:3%;
      }
      
      .end-text__dark {
        margin-left: 3%;
      }
      
      
      .text-end__box {
        margin-left:3%;
      }

      .phone-popup {
        position: fixed;
        bottom: 80px;
        left: 25%;
        background: white;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        display: none;
        width: 50%;
        height: 50%;
    }

    }

@media screen and (max-width:768px) {
  .text-hiddenphone {
    display: none;
  }

.grid-container {
  display: none;
}

.show-more {
  display: none;
}

.slider-notes {
  display: none;
}

.order h3 {
  display: none;
}

.order {
  display: none;
}

.icons-ipad {
  display: none;
}

.title {
  padding-top: 10px;
}

.group-img {
  border-left: 0;
}

.icons-ipad1 {
  display: flex;
  justify-content: space-between;  
  width: 100%;  
}


.repair-img-phone {
  display: flex;
}

.checkstatus-img-phone {
  display: flex;
}

  .about {
    display:block;
    gap: 4%;
    margin-left:3%;
  }
  
  .about-content {
    width:100%;
    font-size: 16px;
    color: #1B1C21;
    font-family: 'Montserrat', sans-serif;
  }
  
  .about-image img {
    margin-top: 3%;

    border-radius: 8px;
  }

.wrapper {
  display: block;
  margin-left: 3%;
}

.top-bar {
  margin-left: -2%;
}


   .image-slider {
    width: 100%;
    overflow: hidden;
     position: relative;
     padding-bottom: 30px;
  }
  
   .image-slider__wrapper {
     display: flex;
    align-items: center;
  }
  
 .image-slider__slide {
     display: flex;
   justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  max-width: 250px;
 }
  
 .image-slider__image img {
    max-width: 100%;
   height: auto;
  }
  
  .swiper-pagination {
    text-align: center;
   margin-top: 3%;
   }
  
   .image-slider .swiper-pagination-bullet {
    opacity: 0.7;
    background-color: #DDDDDD;
  }
  
  .image-slider .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    line-height: 20px;
    font-size: 14px;
    background-color: #B5B6BC;
  }

  // slider remont
  
  .image-slider__title {
    display: block;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #7E7E82; 
    margin-left: 3%;
  }
  
  .image-slider__remont {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
    margin-left: 3%;
  }
  
  .image-slider__remont .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  
  .image-slider__remont .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    max-width: 250px;
  }
  
  .image-slider__remont .image-slider__image img {
    max-width: 100%;
    height: auto;
  }
  
  .image-slider__remont .swiper-pagination {
    text-align: center;
    margin-top: 3%;
  }
  
  .image-slider__remont .swiper-pagination-bullet {
    opacity: 0.7;
    background-color: #DDDDDD;
  }
  
  .image-slider__remont .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    line-height: 20px;
    font-size: 14px;
    background-color: #B5B6BC;
  }
  
//coust

.services-slider__title {
  display: block;
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
    color: #7E7E82; 
    margin-left: 3%;
}

.services-slider {
  display: block;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content:start;
  flex-shrink: 0;  
  width: auto; 

}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap; 
}

.service-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 260px;
    font-family: Arial, sans-serif;
    margin-left: 3%;
  }

  .service-title {
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin-bottom: 5px;
  }

  .service-description {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
  }

  .service-info {
    margin-bottom: 10px;
  }

  .service-label {
    font-size: 12px;
    color: $hover-color;
  }

.button-flex {
  display: flex;
  gap: 20px;
}

  .service-price, .service-duration {
    font-size: 14px;
  }

.service-duration {
  padding-top: 10px;
}

.service-button {
  background: #ff4081;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.service-button:hover {
  background: #e91e63;
}

.swiper-pagination {
position: relative;
bottom: 20px;
}

.swiper-pagination-bullet {
  background: #ccc;
  opacity: 0.7;

}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  line-height: 20px;
  font-size: 14px;
  background-color: #7E7E82;
}

.end-text {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin: 0 auto; 
  width: 288px;
}

.end-text__dark {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin: 0 auto; 
  width: 288px;
}

.text-end__box {
  width: 320px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin: 0 auto; 

.text-end {
  height:0;
}


}

//call


.order-call {
  width: 300px;
}

.order-call.active {
  right: 0;
  visibility: visible;
}

.order-call__text {
  font-size: 12px;
  color: #1B1C21;
}

.order-call__text .highlight {
  color: #ff2f69; 

}

.phone-height {
  height: 400px;
}

.order-call__title {
margin-left: -5px;
}

.order-call-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


.call-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: -270px;
}

input[type="tel"] {
  width: 288px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}


.order-call__send {
  width: 136px;
  height: 40px;
  font-size: 12px; 
}

//chat

.contact-popup {
  width: 300px;
}


input[type="text"] {
  padding: 12px;
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}

input[type="tel"] {
  padding: 12px;
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;

}

input[type="email"] {
  padding: 12px;
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

#message {
  width: 265px;
}

.chat-send {
  width: 136px;
  height: 40px;
}

}